/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #cc9900;
  --ifm-color-primary-dark: #af8400;
  --ifm-color-primary-darker: #936e00;
  --ifm-color-primary-darkest: #6e5300;
  --ifm-color-primary-light: #e9ae00;
  --ifm-color-primary-lighter: #ffc106;
  --ifm-color-primary-lightest: #ffca2b;
  --ifm-background-color: #fcfcfc;
  --ifm-heading-font-family: 'Ubuntu';
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:ital@0;1&family=Russo+One&family=Ubuntu:ital@0;1&display=swap');

:root {
  --ifm-font-family-base: 'Open Sans';
}

header.hero {
  background-color: var(--ifm-color-primary);
}

h1.hero__title.addStroke {
  font-family: 'Russo One';
  letter-spacing: .2rem;
  font-size: 500%;
  -webkit-text-stroke: 1px var(--ifm-color-primary-darkest);
  text-transform: uppercase;
}

p.hero__subtitle.addStroke {
  font-weight: bold;
  text-shadow: 0px 0px 4px var(--ifm-color-primary-darkest);
}

.markdown em>img {
  vertical-align: middle;
}

.markdown h1 {
  font-size: 2.5rem;
}