/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #cc9900;
  --ifm-color-primary-dark: #af8400;
  --ifm-color-primary-darker: #936e00;
  --ifm-color-primary-darkest: #6e5300;
  --ifm-color-primary-light: #e9ae00;
  --ifm-color-primary-lighter: #ffc106;
  --ifm-color-primary-lightest: #ffca2b;
  --ifm-background-color: #fcfcfc;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:ital@0;1&family=Russo+One&family=Ubuntu:ital@0;1&display=swap');

:root {
  --ifm-font-family-base: 'Open Sans';
}

header.hero {
  background-color: var(--ifm-color-primary);
}

h1.hero__title {
  font-family: 'Russo One';
  letter-spacing: .25rem;
  font-size: 500%;
}

.markdown em>img {
  vertical-align: middle;
}
