.language-blueprint pre.language-text {
    overflow: hidden;
}
.language-blueprint pre code {
    word-break: break-all;
    white-space: normal;
}

.theme-default-content {
  font-size 1.36rem;
}

.theme-default-content:not(.custom)
{
  max-width: none;
  padding-left: 10%;
  padding-right: 10%;
}